.final {
    height: 100vh;

    .logo {
        display: flex;
        padding: 1.5em;
    }

    .finalText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 80vh;

        h1, h3 {
            color: white;
            font-family: "Open Sans";
        }

        h3 {
            font-size: 3rem;
            margin-top: 0;
        }

        h1 {
            font-size: 5.5rem;
            margin-top: .2em;
        }
    }
}