.socials {
  width: 100%;

  p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: white;

    span {
      position: absolute;
      left: -1em;
      top: -0.2em;

      font-family: Shnobel;
      font-size: 2rem;
    }
  }

  div {
    display: flex;
    justify-content: space-between;

    .link {
      cursor: pointer;
    }
  }
}