.form {

  p {
    color: white;

    span {
      font-family: Shnobel;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    margin: auto;
  }
}