.form {
  width: 100%;

  .email {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: white;

    &:before {
      position: absolute;
      left: -1em;
      top: -0.2em;

      content: '2.';
      font-family: Shnobel;
      font-size: 2rem;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      font-family: 'Open Sans', sans-serif;
      width: calc(100% - 2em);
      font-size: 2rem;
      border-radius: 25px;
      border: none;
      outline: none;
      padding: .2em 1em;
      margin: auto;
    }

    .buttonDisabled {
      font-family: Shnobel;
      font-size: 2.5rem;
      color: white;

      width: 80%;
      background-color: transparent;
      border: 3px solid white;
      border-radius: 35px;
      padding: .2em 0;
      margin: 1em auto;
      outline: none;
    }

    .buttonEnabled {
      font-family: Shnobel;
      font-size: 2.5rem;
      color: #7F4156;

      width: 80%;
      background-color: white;
      border: 3px solid white;
      border-radius: 35px;
      padding: .2em 0;
      margin: 1em auto;
      outline: none;
      cursor: pointer;

      &:hover {
        color: white;
        border: 3px solid #7F4156;
        background-color: #7F4156;
      }
    }
  }

  &.done {
    .email {
      span {
        opacity: 0.5;
      }

      &:before {
        position: absolute;
        left: -1.2em;
        top: 0;

        content: '';
        font-family: Shnobel;
        font-size: 2rem;
        width: 20px;
        height: 20px;
        background-image: url('../../assets/check.png');
        background-size: contain;
      }
    }

    div {
      input {
        background-color: #E5B4C6;
      }

      button {
        display: none;
      }
    }
  }
}