.form {
  width: 15em;


  p {
    color: white;

    span {
      font-family: Shnobel;
    }
  }

  input {
    width: 10em;
    font-size: 2rem;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: .2em 1em;
    margin: auto;
  }
}